<% provide :title, "图片上传" %>
<div class="row">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> span4 offset4"><%= value %></div>
  <% end %>
</div>

<div class="row">
  <div class="span4 offset2">
    <%= form_for @image, :url => upload_path, :html => { :multipart => true, class: "form-horizontal" } do |form| %>
      <div class="control-group">
        <%= form.label :img, class: "control-label" %>
        <div class="controls">
          <%= form.file_field :img %>
        </div>
      </div>
      <div class="control-group">
        <%= form.label :gender, class: "control-label" %>
        <div class="controls">
          <label class="radio">男<%= form.radio_button "gender", "0", checked: true %></label>
          <label class="radio">女<%= form.radio_button "gender", "1" %></label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><%= @details[:question] %></label>
        <div class="controls">
          <%= text_field_tag :user_answer %>
          <%= hidden_field_tag :answer, @details[:answer] %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= form.submit "上传", class: "btn btn-primary" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
